body{
	padding:0;
	margin:0;
	overflow-x: hidden;
	overflow-y: auto;
}
img{max-width: 100%;}
.blank1 {
    width: 100%;
    padding-bottom: 4.6em;
}
.header{
	background-color: #5fc0cd;
	position:fixed;
	color: #FFFFFF;
	padding-top: 20px;
	width:100%;
	padding-bottom: 20px;
	text-align: center;
  	font-size: 36px;
  	font-family: "Adobe Heiti Std";
  	z-index: 3;
}
.im{
	float: left;
	margin-left: 20px;
	}

.banner {
    position: relative;
}
.bkgdiv {
    position: absolute;
    left: 0;
    width: 100%;
    padding-bottom: 20em;
    background-color: #000;
    z-index: 1;
    opacity: .2;
}
.bkgimg {
    height: 20em;
    background-image: url(images/back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.head {
    position:absolute;
    top: 6em;
    left: 3em;
    text-align: center;
    width: 10em;
    height: 10em;
    background-color: #efefef;
    border-radius:50%;
    overflow: hidden;
    z-index: 2;
}
.itrd {
    position: absolute;
    top: 8em;
    left: 15em;
    right: 4em;
    width: 12em;
    height: 6em;
    font-family: "Black fan", sans-serif;
    color: #FFF;
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}
.name {
    margin-right: 1em;
    font-size: 1.9rem;
    flex-grow: 1;
}
.age {
    font-size: 1.5rem;
    flex-grow: 1;
}
.lctimg {
    padding: 1.1em 1em;
    background-image: url(images/shape.png);
    background-repeat: no-repeat;
    background-position: center;
}
.lct {
    font-size: 1.1rem;
}
.blank2 {
    width: 2em;
    height: 1em;
}
.skill {
    width: 100%;
    height: .8em;
    margin: 2em 1.5em;
    font-weight: 800;
    border-left: .1em solid #5fc0cd;
    text-indent: 1em;
    line-height: .8em;
    border-top: hidden;
    border-bottom: hidden;
}
.bod {
    position: relative;
    font-size: 1.4em;
    font-family: "Black fan", sans-serif;
    border-bottom: thin solid #ccc;
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    justify-content:flex-start;
    align-items: center;
}
.welf1 {
    padding: 1.5em 1.5em;
    margin-left: 2em;
}
.welf2 {
    padding: 1.5em 1.5em;
    margin-left: 1em;
}
.proj {
    position: absolute;
    padding-left: 1.5em;
    padding-right: 1.5em;
    height: .8em;
    color: #999;
    line-height: .8em;
    border-right: thin solid #ccc;
}
.cont {
    margin-left: 7em;
    padding: 1.5em 1.5em;
}
.blank3{
    width: 100%;
    padding-bottom: 5em;
}
.footer{
	position:fixed;
	bottom:0;
	width:100%;
	height:10%;
	background-color: #ffffff;
}
.button1{
	margin-left: 2%;
	height: 100%;
	width: 45%;
	float: left;
	border-radius: 10px;
	border-width: 1%;
	border-color: #5fc0cd;
	background-color: #FFFFFF;
	color: #5fc0cd;
	font-size: 2rem;
}
.button2{
	margin-left: 2%;
	margin-right: 2%;
	height: 100%;
	width: 45%;
	float: right;
	font-size: 2rem;
  	font-family: "Adobe Heiti Std";
  	color: #FFFFFF;
  	border-radius: 10px;
  	background-color:#5fc0cd;
}